/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  padding: 0;
  font-family: "Lato", sans-serif;
}

.map-canvas {
  height: 90vh;
  width: 80vw;
}

h1 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

li {
  list-style-type: none;
}

.list-toggle:hover {
  background: #0062ff;
}

.list-view {
  z-index: 1000;
  float: right;
  left: 50px;
  min-width: 200px;
  overflow: auto;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.list {
  padding: 4px;
  border-bottom: 1px dashed #999;
}

li {
  display: list-item;
}

li:hover {
  background-color: #ddd;
}

li.active {
  background-color: #ddd;
}