/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  text-decoration: underline;
}

p {
  font-size: 12px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}


.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Map View Classes */
.search {
  z-index: 100;
  position: fixed;
  left: 25px;
  top: 25px;
  height: 35px;
  width: 350px;
}

.search-bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 80%;
    font-size: 18px;
    padding: 6px 6px 6px 10px;
    outline: 0;
    border-radius: 6px 0 0 6px;
    border: 1px solid #1c5382;
    font-weight: 200;
}

.search-bar:focus {
  border-top: 3px solid #1c5380;
  border-bottom: 3px solid #1c5380;
  border-left: 3px solid #1c5380;
}

.search-button {
  background: #584B4F;
  height: 100%;
  position: absolute;
  border: 0;
  right: 0;
  width: 20%;
  outline: 0;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.search-button:hover,
.list-toggle:hover {
  background: #0062ff;
}

.search-form {
  margin-left: 340px;
  top: 10px;
  left: 50px;
  float: right;
}


.list-view {
  display: block;
  position: fixed;
  top: 60px;
  z-index: 1000;
  float: right;
  left: 50px;
  min-width: 200px;
  overflow: auto;
  padding: 5px;
  margin: 2px 90px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.list-view li {
  padding: 4px;
   border-bottom: 1px dashed #999;
}

li {
  display: list-item;
}

li:hover {
  background-color: #ddd;
}

li.active {
  background-color: #ddd;
}